/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main_mnu{
		display: none;
	}
	.hamburger-inner,  .hamburger-inner::before , .hamburger-inner::after{
	background-color: #757F3F;}


	

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.logo{
			visibility: hidden;
		}
.slogan{
	text-align: center;
}
	.hamburger-inner,  .hamburger-inner::before , .hamburger-inner::after{
	background-color: #757F3F;}


	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.hamburger-inner,  .hamburger-inner::before , .hamburger-inner::after{
	background-color: #757F3F;}
	.SM {
		display: none;
	}
	.logo{
			visibility: hidden;
		}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px) {
		.main_mnu{
		display: block;
	}
		.spisok{
			display: none;
		}

		.top-line{
			flex-wrap: wrap;
		}
		.container_1{
			text-align: right;

		}
		.logo{
			visibility: hidden;
		}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.hamburger-inner,  .hamburger-inner::before , .hamburger-inner::after{
	background-color: #757F3F;}
}
	.container_1{
		margin-right: 0px;
	}

	.header_social{
		right: 25px;
	}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.container_1{
		margin-right: 0px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}